<h1>Testando o RXJS e suas funcionalidades</h1>

<form [formGroup]="formGithub">
  <p>
    Digite um nome de Usuário do Github
  </p>
  <label>
    <span>Usuário do Github</span>
    <input type="text" placeholder="Digite o nome de usuário do github" formControlName="username">
  </label>
</form>

<span *ngIf="user.exists == true">
  Usuário encontrado
</span>
<span *ngIf="user.exists == false && user.name == ''">
  Usuário não encontrado
</span>

<div *ngIf="user.exists" class="card">
  <h3 *ngIf="user.name != '' ">
    {{user.name}}
  </h3>
  <img *ngIf="user.avatar_url != ''" [src]="user.avatar_url" alt="">
</div>
